name: Update locales
on:
  schedule:
    - cron: '0 8 * * 1-5' #  At 8:00 on every Monday
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Run update scripts
        run: |
          pip install toml
          python app/scripts/bugzilla_query.py
          python app/scripts/update_sources.py

      - run : git config --global user.email 'flodolo@users.noreply.github.com'
      - uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "Update locales"
          branch-suffix: "timestamp"
          title: "Update locales"
